@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

* {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;

}

.container .btn-menu,
    {

    line-height: 100px;
}

.container .btn-menu label {
    display: flex;
    position: absolute;
    top: 0px;
    left: 10px;
    color: black;
    font-size: 40px;
    cursor: pointer;
}

/*Menù lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Fin de Menù lateral*/

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}

.sectionTitle {
    text-align: center;
}

.sectionTitle--wh {
    color: white !important;
}

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}


.header__logo {
    width: 200px;
    -webkit-animation: scale-up-hor-center 1.5s 1.2s ;
	        animation: scale-up-hor-center 1.5s 1.2s ;
    
}

.footer__logo{
	-webkit-animation: scale-up-hor-center 1.5s 3s ;
	        animation: scale-up-hor-center 1.5s 3s ;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-14 20:41:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  

.header__list {
    list-style: none;
    display: flex;
    background-color: black;
    padding: 0.4rem;
    border-radius: 15px;
}

.header__item {
    margin: 0px 1rem;
    color: white;
}

.hero {
    height: 97.5vh;
    background: url(../assets/hero.jpg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero__container {
    width: 50%;
    padding: 0px 1rem;
}

.hero__title {
    color: black;
    font-size: 35px;
    text-align: justify;
}

.btn__hero {
    height: 30px;
    border-radius: 5px;
}

.header__subtitle {
    color: black;
}

.servicios {
    padding: 1rem 1.4rem;
    background-color: black;
}

.sectionTitle {
    color: white;
}

.servicios_contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.servicio_imagen {
    width: 50%;
}

.servicio {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicio__title {
    text-align: center;
    color: white;
    font-size: 25px;
}

.servicio__descripcion {
    color: white;
    font-size: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.footer__logo {
    width: 250px;
}

/*CONTACTO*/
.contacto__title {
    text-align: center;
    color: white;
}

.contacto__descripcion {
    color: white;
    text-align: left;
    font-size: 20px;
}

.contacto__indicaciones {
    color: brown;
    opacity: 65%;
    text-align: left;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(163, 52, 52, 0.678);

}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.ubicacion__subtitle {
    color: white;
    font-size: 1.125rem;
}

.promos__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.promo__title {
    color: white;
}

/*MEDIAS*/

@media screen and (max-width: 768px) {

    .header__logo {
        width: 100%;
    }

    .footer__logo {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .equipo__contenedor {
        grid-template-columns: 1fr;
    }

    .servicios_contenedor {

        grid-template-columns: 1fr;

    }

    .hero h2 {
        display: none;
    }

    .hero {
        align-items: flex-end;
        position: relative;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .hero__container {
        width: 100%;
        padding: 0px 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}